<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>image to text</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/public/main.css">
</head>
<body>
<!--  //    Handlebars.registerHelper("loadDescriptions", function(bodies) {
 //      var html = "<ul>";
 //      bodies.forEach(function(entry) {
 //        html += "<li>" + entry + "</li>";
 //      });
 //      html += "</ul>";
 //      return html;
 //    }); -->
    <br>
     {{{body}}}
</body>
{{{state}}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
<script src="/public/main.js"></script>

</html>
