<header>
  <center>
    <a> Describify </a>  
  </center>
</header>

  <div class="block1">
    <div class="open_text block-item1" >
      <h5>
        Upload a pic, get a description :)
      </h5>
    </div>
  </div>

 <form method="post" enctype="multipart/form-data" action="/upload">
          <input type="file" name="imageUpload">
          <input type="submit" value="Upload">
  </form>

  <form class="formm" action="/" method="post">
      <button name="describify">Describe my picture!</button>
  </form>
  
  <div class="block">  
      <img src="/image.png"></img>
    <div class="block-item">
      <h1> 
        {{ bodies }}
      </h1>
    </div>
  </div>


