header {
     position: absolute;
     width:100%;
     background-color: white;
     top: 0%;
     left: 0%;
     height:50px;
     font-size:20px;
}

 body {
     background-color: #bfe2f8;
     width:80%;
     max-zoom: 150%;

 }
 
 form {
     padding:70px;
 }

 form:focus {
     border-color:#333;
 }

input {
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input:focus {
    border-color:#333;
}

input {
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
 .main.container {
     margin-top: 2em;
 }

.inner-element{
  width: 100px;
  height: 100px;
  font-size: 24px;
  color: black;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
 
input {
    background-color: #FFFFFF;
     border: 1px solid #DDD;
     box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
a {
     font-weight: bold;
}
 
.main.menu {
     box-shadow: 0px 1px 50px #5E5E5E;
     float: center;
     top:0px;
     border-radius: 0;
     border: none;
     box-shadow: none;
     width:80%;
      background-color: #FFFFFF;
     border: 1px solid #DDD;
     box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
 
 .main.menu .item img.logo {
     margin-right: 1.5em;
 }
 
 .overlay {
     float: left;
     margin: 0em 3em 1em 0em;
 }
 
 .overlay .menu {
     position: relative;
     left: 0;
     transition: left 0.5s ease;
 }
 
 .overlay.fixed .menu {
     left: 800px;
 }
 
 .ui.footer.segment {
     margin: 5em 0em 0em;
     padding: 5em 0em;
 }

 .ui.segment {
     height: 300px;
 }

.ui.future {
     height: 100%;
     width: 100%;
 }

 .ui.little {
     max-height: 80px;
 }
 
 .ui.bottom {
     width: 71%;
     max-height: 200px;
     position: absolute;
     left: 15.5%;
     height: 200px;
 }
 td {
     vertical-align: top !important;
 }
