header {
     position: absolute;
     width:100%;
     background-color: lavender;
     top: 0%;
     left: 0%;
     height:50px;
     font-size:20px;
}

 body {
     padding-top:40px;
     width:80%;
     max-zoom: 150%;
 }

 form:focus {
     border-color:#333;
 }

input {
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


input:focus {
    border-color:lavender;
}

.block {
  display: flex;
  position: absolute;
  width: 80%;
  height: 60%;
  top: 20%;
  left: 50%;
  margin: 10% 0 0 -40%;
}

.block1 {
  display: flex;
  position: absolute;
  width: 80%;
  height: 70%;
  top: 20%;
  left: 50%;
  margin: 0 0 0 -40%;
}


.block-item {
  width: 100%;
  height: 100%;
  background-color:lavender;
  margin-left: 40px;
  margin-right: 40px;
  border-style:solid;
  border-width:1px;
  border-color:black;
}

.block-item img {
  border-style:solid;
  border-color:black;
  border-width:2px;
  max-width: 50%;
  max-height:50%;
  left:20%;
  top: 20%;
  position: absolute;
  margin:auto;
}

.block-item h1 {
  text-align:center;
  font-size:48px;
  margin-top:10%;
}

.block-item form {
  margin: auto;
  position: absolute;
  top:70%;
  left:10%;
}

.block-item button {
  margin-top: 40px;
  position:absolute;
  top:90%;
}

.block-item1 {
  width: 100%;
  height: 100px;
  margin: -20% 0 0 0;
}

.block-item1 h5 {
  text-align: center;
  font-size:36px;  
}

.bottom {
  float:bottom;
}

.open_text {
  position: absolute;
  margin:auto;
  text-align:center;
}