header {
     position: absolute;
     width:100%;
     background-color: lavender;
     top: 0%;
     left: 0%;
     height:70px;
     font-size:20px;
}

header a {
  padding-top: 2%;
  float: bottom;
  position: absolute;
  margin: auto;
  left: 44%;
  top:1px;
}

 body {
    font-size:vw;
     padding-top:40px;
     width:70%;
     height:115%;
     max-zoom: 150%;
     zoom: 1;
 }

form:focus {
     border-color:#333;
 }

input {
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


input:focus {
    border-color:lavender;
}

.block {
  display: flex;
  position: absolute;
  width: 80%;
  height: 60%;
  top: 20%;
  left: 50%;
  margin: 10% 0 0 -40%;
}

.block1 {
  display: flex;
  position: absolute;
  width: 80%;
  height: 70%;
  top: 15%;
  left: 50%;
  margin: 0 0 0 -40%;
}


.block-item {
  width: 100%;
  height: 100%;
  /* background-color:lavender; */
  margin-left: 40px;
  margin-right: 40px;
  /* border-style:solid;
  border-width:1px;
  border-color:black; */
}

img {
  max-width:100%;
  max-height:100%;
}

.block-item h1 {
  text-align:center;
  font-size:48px;
  margin-top:10%;
}

.formm {
  margin: auto;
  position: absolute;
  left:45%;
}

form {
  top:25%;
  float:left;
  margin: auto;
  position: absolute;
  padding-left:25%;  
}

h1 {
  font-size: vw;
}
button {
  margin:auto;
  position:absolute;
  left:70%;
  top:35%;
}

.block-item1 {
  width: 100%;
  height: 100px;
  margin: -20% 0 0 0;
}

.block-item1 h5 {
  text-align: center;
  font-size:36px;  
}

.open_text {
  position: absolute;
  margin:auto;
  top:-5%;
  text-align:center;
}